<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <smart2pay>

                <model>GlobalPayFacade</model>

                <debug>1</debug>
                <active>0</active>
                <sort_order>0</sort_order>
                <title><![CDATA[Smart2Pay - Alternative payment methods]]></title>

                <!--<payment_action>authorize_capture</payment_action>-->
                <payment_action>order</payment_action>
                <can_order>1</can_order>
                <can_authorize>0</can_authorize>
                <can_capture>0</can_capture>
                <can_capture_partial>0</can_capture_partial>
                <can_capture_once>0</can_capture_once>
                <can_refund>0</can_refund>
                <can_refund_partial_per_invoice>0</can_refund_partial_per_invoice>
                <can_void>0</can_void>
                <can_use_internal>0</can_use_internal>
                <can_use_checkout>1</can_use_checkout>
                <can_edit>0</can_edit>
                <can_fetch_transaction_info>0</can_fetch_transaction_info>
                <can_review_payment>0</can_review_payment>
                <is_gateway>1</is_gateway>
                <is_offline>0</is_offline>
                <can_initialize>0</can_initialize>
                <can_authorize_capture>1</can_authorize_capture>
                <can_sale>1</can_sale>
                <debugReplaceKeys></debugReplaceKeys>
                <paymentInfoKeys></paymentInfoKeys>
                <privateInfoKeys></privateInfoKeys>

                <environment>demo</environment>
                <last_sync_demo><![CDATA[]]></last_sync_demo>
                <last_sync_test><![CDATA[]]></last_sync_test>
                <last_sync_live><![CDATA[]]></last_sync_live>
                <site_id_test>0</site_id_test>
                <apikey_test><![CDATA[]]></apikey_test>
                <site_id_live>0</site_id_live>
                <apikey_live><![CDATA[]]></apikey_live>
                <return_url><![CDATA[]]></return_url>
                <skin_id>0</skin_id>

                <display_surcharge>0</display_surcharge>
                <display_mode>both</display_mode>
                <display_description><![CDATA[]]></display_description>
                <show_methods_in_grid>0</show_methods_in_grid>
                <grid_column_number>3</grid_column_number>
                <product_description_ref>1</product_description_ref>
                <product_description_custom><![CDATA[]]></product_description_custom>

                <notify_customer>0</notify_customer>
                <smart2pay_email_payment_confirmation>smart2pay_email_payment_confirmation</smart2pay_email_payment_confirmation>
                <notify_payment_instructions>0</notify_payment_instructions>
                <smart2pay_email_payment_instructions_sibs>smart2pay_email_payment_instructions_sibs</smart2pay_email_payment_instructions_sibs>
                <smart2pay_email_payment_instructions_bt>smart2pay_email_payment_instructions_bt</smart2pay_email_payment_instructions_bt>

                <auto_invoice>0</auto_invoice>
                <auto_ship>0</auto_ship>
                <use_3dsecure>0</use_3dsecure>
                <order_status>new</order_status>
                <order_status_on_2>processing</order_status_on_2>
                <order_status_on_3>canceled</order_status_on_3>
                <order_status_on_4>canceled</order_status_on_4>
                <order_status_on_5>canceled</order_status_on_5>

                <message_data_2><![CDATA[Thank you, the transaction has been processed successfuly. After we receive the final confirmation, we will release the goods.]]></message_data_2>
                <message_data_4><![CDATA[There was a problem processing your payment. Please try again.]]></message_data_4>
                <message_data_3><![CDATA[You have canceled the payment.]]></message_data_3>
                <message_data_7><![CDATA[Thank you, the transaction is pending. After we receive the final confirmation, we will release the goods.]]></message_data_7>

            </smart2pay>
        </payment>
    </default>
</config>
