<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <virtualType name="Smart2Pay\GlobalPay\Block\Form\Smart2Pay" type="Magento\Payment\Block\Form" shared="false">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="template" xsi:type="string">Smart2Pay_GlobalPay::form/smart2pay.phtml</item>
            </argument>
        </arguments>
    </virtualType>
</config>
