<div class="payment-method-title field choice" style="margin-bottom: 5px;">
    <div style="float: left; text-align: center; vertical-align: middle; padding: 5px;">
    <input type="radio"
           name="smart2pay_method"
           class="radio"
           data-bind="attr: {'id': 'smart2pay_'+id}, value: id, click: selectMe" /><!--, checked: isMethodChecked() function(){main_renderer.selectS2PPaymentMethod( id, myself ); return true;} -->
    </div>
    <div>
    <label data-bind="attr: {'for': 'smart2pay_'+id}" class="label">
        <div data-bind="visible: main_renderer.displayLogo()" style="float: left; min-width: 160px; padding: 2px; text-align: center; vertical-align: middle;"><img data-bind="attr: { 'src': logo_url, 'alt': title, 'title': title}" style="max-width: 150px;" /></div>
        <div>
            <div data-bind="visible: main_renderer.displayTitle()"><span data-bind="html: title" style="font-weight: bold;"></span></div>
            <div data-bind="visible: main_renderer.displayDescription()"><span data-bind="html: description"></span></div>
        </div>
    </label>
    </div>
</div>
<div style="clear:both;"></div>
